/* universal styles */
body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
   color: black;
    
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* Header styles */
header{
    padding: 10px 0;
    border-bottom: 1px solid rgb(121 , 118, 118);    
}

header .container{
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    gap: 40px;
}

header .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .logo a{
    color: white;
    background-color: #fc004a;
    padding: 10px 60px;
    border-radius: 15px;
}

header ul a{
    color: black;
}

header ul a:hover{
    color: #fc004a;
    transform: scale(1.1);
    display: block;
}


/* intro styles */
.intro{
    margin-top: 40px;
}

.intro img{
    width: 100%;
}


/* combos styles */

.set h2{
    text-align: center;
    font-size: 40px;
}

.set .combos{
    flex-wrap: wrap;
    display: flex;
}